.cart button {
    background: #f8c94d;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  .lessQuantity {
    margin-right: 10px;
  }
 .moreQuantity {
    margin-left: 10px;
 }
 .cart {
    text-align: center;
    margin: 50px;
  }
  .images {
    height: 240px;
    width: 400px;
  }
  .cart-item{
    margin-bottom: 30px;
  }